main{
    background-color:lightgrey;
}
footer{
    font-size: 20px;
    text-align: center;
}
.one{
text-align: justify;
    font-size: 20px;
    flex-direction: column;
    color: black;
    font-style: normal;
    line-height: 23px;
    text-rendering: optimizeLegibility;
    margin-bottom: 17px;
    display: block;
    font-family: 'Arial Narrow',Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal
}
h1{
    text-align: center;
    font-style: italic;
}
button{
  
padding: 15px 32px;
margin: 4px 2px;
cursor: pointer;
}
p{
    font-family: 'Arial Narrow',Arial, Helvetica, sans-serif;
    letter-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
}
h2{
    text-decoration-line: underline;
}